##GeneratorOptions
generatorOptions:
#states how many flights should be generated
    numberFlights: 2
    minFlightDate: '2018-01-01'
    maxFlightDate: '2019-12-31'

##DataBaseOptions
databaseOptions:
#Path of the SQLite Database where the data is stored
    dbPath: C:\Users\nwuser\MySQLiteDB